# Copyright 2020 OpenPrinting

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve`. If you change this file, please restart the server process.

remote_theme             : "mmistakes/minimal-mistakes@4.20.1"
# theme: minimal-mistakes-jekyll
minimal_mistakes_skin    : "air" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "en-US"
title                    : "OpenPrinting"
title_separator          : "-"
name                     : "OpenPrinting"
description              : "Making Printing Just Work."
url                      : https://openprinting.github.io # the base hostname & protocol for your site e.g. "https://mmistakes.github.io"
baseurl                  : # the subpath of your site, e.g. "/blog"
repository               : "openprinting/openprinting.github.io" # GitHub username/repo-name e.g. "mmistakes/minimal-mistakes"
teaser                   : # path of fallback teaser image, e.g. "/assets/images/500x300.png"
# breadcrumbs            : false # true, false (default)
words_per_minute         : 200
comments:
  provider               : "disqus" # false (default), "disqus", "discourse", "facebook", "google-plus", "staticman", "utterances", "custom"
  disqus:
    shortname            : openprinting-org # https://help.disqus.com/customer/portal/articles/466208-what-s-a-shortname-
  discourse:
    server               : # https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 , e.g.: meta.discourse.org
  facebook:
    # https://developers.facebook.com/docs/plugins/comments
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"
  utterances:
    theme                : # "github-light" (default), "github-dark"
staticman:
  allowedFields          : ['name', 'email', 'url', 'message']
  branch                 : # "master", "gh-pages"
  commitMessage          : "New comment by {fields.name}"
  filename               : comment-{@timestamp}
  format                 : "yml"
  moderation             : true
  path                   : "_data/comments/{options.slug}"
  requiredFields         : ['name', 'email', 'message']
  transforms:
    email                : "md5"
  generatedFields:
    date:
      type               : "date"
      options:
        format           : "iso8601" # "iso8601" (default), "timestamp-seconds", "timestamp-milliseconds"
  endpoint               : # URL of your own deployment with trailing slash, will fallback to the public instance
atom_feed:
  path                   : # blank (default) uses feed.xml
search                   : true # true, false (default)
search_full_content      : true # true, false (default)
search_provider          : "algolia"
algolia:
  application_id         : "QB6HVGBSBA"
  index_name             : "dev_minimal-mistakes"
  search_only_api_key    : "9d5014e5bbc77372547bce778dfa5663"
  powered_by             : true

# SEO Related
google_site_verification :
bing_site_verification   :
yandex_site_verification :

# Social Sharing
twitter:
  username               : "mmistakes"
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 : "/assets/images/bio-photo.jpg"
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles

# Analytics
analytics:
  provider               : false # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          :


# Site Author
author:
  name             : "OpenPrinting"
#  avatar           : "/assets/images/logo.png"
  bio              : "Making Printing Just Work!"
  location         : "Linux Foundation"
  links:
    - label: "Website"
      icon: "fas fa-fw fa-link"
      url: "https://openprinting.github.io"
    # - label: "Twitter"
    #   icon: "fab fa-fw fa-twitter-square"
    #   url: "https://twitter.com/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/openprinting"
    # - label: "Instagram"
    #   icon: "fab fa-fw fa-instagram"
    #   url: "https://instagram.com/"


# Site Footer
footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/intent/tweet?button_hashtag=OpenPrinting&ref_src=twsrc%5Etfw"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/openprinting"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fopenprinting.github.io%2F&amp;src=sdkpreparse"
    - label: "Code of Conduct"
      icon: "fas fa-file-contract"
      url: "/codeofconduct/"

# Reading Files
include:
  - .htaccess
  - _pages
  - _docpages
  - printers.html
  - airprint.json
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Liquid
strict_front_matter: true
liquid:
  error_mode: strict

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins (previously gems:)
plugins:
  - jekyll-feed
  - jekyll-include-cache

# Collections
collections:
  gsoc2020:
    output: true
    permalink: /:collection/:path/
  gsoc2021:
    output: true
    permalink: /:collection/:path/
  lfmp2020:
    output: true
    permalink: /:collection/:path/
  gsod2020:
    output: true
    permalink: /:collection/:path/
  gsoc2019:
    output: true
    permalink: /:collection/:path/
  driverless:
    output: true
    permalink: /:collection/:path/
  recipes:
    output: true
    permalink: /:collection/:path/
  pets:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  projects:
    output: true
    permalink: /:collection/:path/
  upcoming-technologies:
    output: true
    permalink: /:collection/:path/
  documentation:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      share: true
      related: true
      comments: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true
      # comments: true
  # _docpages
  - scope:
      path: "_docpages"
      type: pages
    values:
      layout: single
      author_profile: true
      # comments: true

  # _gsoc2021
  - scope:
      path: ""
      type: gsoc2021
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      toc: true
      toc_label: "On This Page"
      sidebar:
        nav: "gsoc21"
      # comments: true

  # _gsoc2020
  - scope:
      path: ""
      type: gsoc2020
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      toc: true
      toc_label: "On This Page"
      sidebar:
        nav: "gsoc20"
      # comments: true

  - scope:
      path: ""
      type: gsoc2019
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      toc: true
      toc_label: "On This Page"
      sidebar:
        nav: "gsoc19"
      # comments: true

    # _lfmp2020
  - scope:
      path: ""
      type: lfmp2020
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      toc: true
      toc_label: "On This Page"
      sidebar:
        nav: "lfmp20"
      # comments: true

    # _gsod2020
  - scope:
      path: ""
      type: gsod2020
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      toc: true
      toc_label: "On This Page"
      sidebar:
        nav: "gsod20"
      # comments: true

  #_driverless
  - scope:
      path: ""
      type: driverless
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      sidebar:
      - image: /assets/images/logo _ipp.png
        image_alt: "Driverless Printing"
        nav: "driverless"
  #upcoming-technologies
  - scope:
      path: ""
      type: upcoming-technologies
    values:
      layout: single
      author_profile: false
      share: true
      excerpt: ""
      comments: true
  #documentation
  - scope:
      path: ""
      type: documentation
    values:
      layout: single
      author_profile: true
      share: true
      excerpt: ""
      comments: true
  # _recipes
  - scope:
      path: ""
      type: recipes
    values:
      layout: single
      author_profile: true
      share: true
  # _pets
  - scope:
      path: ""
      type: pets
    values:
      layout: single
      author_profile: true
      share: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: false
      share: true
  # _projects
  - scope:
      path: ""
      type: projects
    values:
      layout: single
      author_profile: false
      share: false
      excerpt: ""
      # comments: true
      # toc: true
      # sidebar:
      #   nav: "projects"
