/** Reduce margins around centered items **/
.feature__item--center .archive__item-body {
  width: 90%;
}

.side-nav-li{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}
.side-nav-li:hover{
	overflow:visible;
	white-space: normal;
	height: auto;
	font-weight: bold;
}
.nav__list{

}
.sidebar p{
	font-size: 1em;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.feature__wrapper .feature__item--center .archive__item-excerpt p {
  font-size: 125%;
  font-weight: bold;
}
.feature__wrapper .feature__item--center .archive__item-excerpt p small {
  font-size: 80%;
  font-weight: normal;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
  }

  @media (min-width: 1200px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	  float: left;
	}
	.col-lg-4 {
		width: 33.33333333333333%;
	  }
	.col-lg-8 {
		width: 66.66666666666667%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-3 {
		width: 25%;
	}
}

.centered {
    text-align: center;
    margin-left: auto;
	margin-right: auto;
}

.centered h4{
	margin-top: 10px;
}

.centered p{
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 20px;
}

.img-circle {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #ccc;
  }
  .masthead {
    background: #333;
    border: solid thin #ccc;
  }
  .masthead__inner-wrap, .greedy-nav {
    background: #333;
  }
  a.site-title, a.site-title:visited, li.masthead__menu-item a, li.masthead__menu-item a:visited {
    color: #ccc;
  }
  a.site-title:hover, li.masthead__menu-item a:hover {
    color: #aaa;
  }
  a.site-title:active, li.masthead__menu-item a:active {
    color: #999;
  }
  .greedy-nav .hidden-links, li.masthead__menu-item, li.masthead__menu-item a, li.masthead__menu-item a:visited {
    background: #333;
    color: #ccc;
  }
  li.masthead__menu-item a:hover, li.masthead__menu-item a:active {
    background: #ccc;
    color: #333;
  }
  .page__hero--overlay {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/images/rotation_pantone.jpg') !important;
  }
  .page__hero--overlay .page__title, .page__hero--overlay .page__lead, .page__hero--overlay .btn {
    color: #ccc;
  }
  .btn--light-outline {
    border 1px solid #ccc;
  }
  a:link, a:visited {
    color: #88a;
  }
  a:hover, a:active {
    color: #779;
  }
  .page__meta {
    color: #727c8c;
  }
  .btn--primary, .btn--primary:visited, .page__footer {
    background: #002E40;
    border: solid thin #0092ca;
    color: #ccc;
  }
  .btn--primary:hover, .btn--primary:active {
    background: #002533;
    border: solid thin #0075a2;
    color: #ccc;
  }
  .archive__item-teaser img {
    background: #fff;
    opacity: 66%;
  }
  ::selection {
    background: #ccc;
    color: black;
  }
  .page__footer {
    color: #ccc !important;
  }
}
