---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.nav-logo{
	height:2.2em;
}
.left-space{
	padding-right:4em;
}
.collection-list{
	a:link,:visited	{
		color: #0092ca;
	}
	a:hover	{
		color: #03A9F4;
	}
}